<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :product_content %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :buyer %>
    <%= form.number_field :buyer, id: :product_buyer %>
  </div>

  <div class="field">
    <%= form.label :data_file %>
    <%= form.text_field :data_file, id: :product_data_file %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :product_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :product_category_id %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :product_published %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :product_tags %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :product_language %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :product_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
